@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

@mixin flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin ancor {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: white;
    cursor: pointer;
    text-shadow: 0 0 10px white;
  }
  &:active {
    color: $ancor-color;
    cursor: pointer;
    text-shadow: 0 0 10px $ancor-color;
  }
  &:disabled {
    color: $disabled-color;
    cursor: initial;
  }
}

$basic-padding: 1rem;
$text-color: #ddd;
$ancor-color: palevioletred;
$disabled-color: #444;

body {
  overflow: hidden;
  background-color: black;
  font-family: Mayhem;
  color: #ddd;
  .main {
    @include flexCol;
    height: 95vh;

    .begin {
      @include flexCenter;
      margin: 10vw;
      padding-top: 12vh;
      padding-right: 7vw;
      font-size: 2rem;
      height: 95vh;
      background-image: url("../assets/bomb.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      .begin__text {
      }
      .active {
        color: $ancor-color;
        text-shadow: 0 0 10px $ancor-color;
      }
    }

    .logo {
      flex-grow: 1;
      background-image: url("./../assets/bomberman-logo.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    .nav {
      @include flexCol;
      align-items: center;
      article {
        padding: $basic-padding;
      }
      .active {
        color: $ancor-color;
        text-shadow: 0 0 10px $ancor-color;
      }
    }
    .footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      .github {
        display: flex;
        align-items: center;
        .github__logo {
          img {
            width: 3rem;
          }
        }
        div,
        a {
          @include ancor;
          padding: $basic-padding;
        }
        .active {
          color: $ancor-color;
          text-shadow: 0 0 10px $ancor-color;
        }
      }
      .year {
        margin: auto;
      }
      .rs {
        padding: $basic-padding;
        margin-left: auto;
        img {
          width: 4rem;
        }
      }
      .active {
        img {
          width: 5rem;
          margin: -0.5rem;
        }
      }
    }
  }
}

@font-face {
  font-family: Mayhem;
  src: url("./../assets/fonts/retro-land-mayhem.ttf");
}

@font-face {
  font-family: Baloo;
  src: url("./../assets/fonts/BalooPaaji2-Regular.ttf");
}

@font-face {
  font-family: Monaco;
  src: url("./../assets/fonts/monaco.ttf");
}

@font-face {
  font-family: Pacifico;
  src: url("./../assets/fonts/Pacifico.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: SnakeBold;
  src: url("./../assets/fonts/snakebold.ttf");
}

@font-face {
  font-family: SnakeThin;
  src: url("./../assets/fonts/snakethin.ttf");
}
